<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Hello</h1>
    <ul id="messages"></ul>
    <form id="chat-form" action="">
      <input type="text" id="chat-mes" />
      <button id="send-chat">Gửi</button>
    </form>
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();
    const chatForm = document.querySelector('#chat-form');
    const chatMes = document.querySelector('#chat-mes');
    const messages = document.querySelector('#messages');
    chatForm.addEventListener('submit', e => {
      e.preventDefault();
      socket.emit('chat-on', {
        message: chatMes.value,
      });
      chatMes.value = '';
      socket.on('user-chat', data => {
        const chatItem = document.createElement('li');
        chatItem.textContent = data.message;
        messages.appendChild(chatItem);
      });
    });
  </script>
</html>
